@mixin before_circle {
    &::before {
        position: absolute;
        top: 27%;
        left: 0;
        box-shadow: 0 4px 4px rgba(255,255,255,.171);
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}

@mixin before_circle-title {
    &::before {
        position: absolute;
        top: -10%;
        left: -3%;
        box-shadow: 0 4px 4px rgba(255,255,255,.171);
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}

@mixin before_circle-min {
    &::before {
        position: absolute;
        top: 10%;
        left: -12%;
        box-shadow: 0 4px 4px rgba(255,255,255,.171);
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}