.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px ;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding: 1px 0 0 12px;
        @include before_circle;
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        color: #fff;
        transition: all .6s;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
        margin-right: 25px;
        span {
            font-size: 30px;
            width: 30px;
            height: 30px;
        }
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(auto-fit, 280px);
        justify-content: space-between;
        row-gap: 27px;
        label {
            color: #fff;
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #131214;
            font-size: 12px;
            margin-bottom: 0;
            top: -9px;
            left: 12px;
        }
    }
    &__triggers {
        grid-column: 1 /3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
    &__input {
        position: relative;
        input {
            border-radius: 4px;
            border-color: #838383;
            background-color: #131214;
            color: #fff;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            border-color: #838383;
            border-radius: 4px;
            color: #fff;
            background-color: #131214;
            width: 100%;
            height: 100%;
            padding: 20px;
            resize: none;
            font-size: 12px;
            font-weight: 500;
        }
    }
    &__btn {
        border: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
    }
}