.promo {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(180deg, rgba(249, 49, 49, 0.31) 0%, rgba(255, 255, 255, 0) 100%), url('../img/main_bg.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        max-width: 535px;
    }
    &__subtitle {
        padding: 10px;
        z-index: 2;
        position: relative;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #ffffff;
        font-weight: bold;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}