.sidepanel {
    top: 230px;
    left: 50px;
    position: fixed;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 3;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
        }
    }
    &__link {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
        span {
            display: block;
            transform: rotate(-90deg);
        }
    }
}