.skills {
    padding-top: 120px;
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-auto-rows: minmax(275px, auto);
        column-gap: 13px;
        row-gap: 13px;
    }
    &__card {
        display: grid;
        grid-template-rows: 65px 21px 94px;
        row-gap: 20px;
        grid-auto-rows: minmax(94px, auto);
        color: #838383;
        border: 1px solid #fff;
        padding: 30px;
        img {
            height: 65px;
        }
        &-descr {
            color: #838383;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__statistic {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        row-gap: 30px;
        column-gap: 45px;
    }
    &__progress {
        color: #838383;
        &-title {
            position: relative;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 21px;
            div {
                &::before {
                    position: absolute;
                    @include before_circle;
                }
            }
        }
        &-line {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            height: 14px;
            background-color: #838383;
            border-radius: 4px;
            &-done {
                height: 14px;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}