.title {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 60px;
    &_fz14px {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16px {
        font-size: 16px;
    }
    &_fz36px {
        font-size: 36px;
    }
    &_fz48px {
        font-size: 48px;
        margin-top: 10px;
    }
}